{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true
            }
        ]
    ],
    "entry": [
        "regenerator-runtime/runtime.js"
    ]
}