@import "../variables";

.widget-search {
  width: 100%;
  margin-top: -120px !important;
  position: relative;
  &.focus {
    z-index: 1045;
    box-shadow: none !important;
  }
  @media screen and (max-width: 767px) {
    // bottom: -371px;
  }
}

.widget-search__body {
  width: 100%;
  margin: 0 0 20px;
  padding: 0;
}

.widget-search__tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  margin-bottom: -1px;
  position: relative;
  z-index: 2;
  list-style: none;

  li {
    border-top-left-radius: 10px;
  }

  a {
    font-weight: 600;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 30px 0 16px;
    margin: 0 3px 0 0;
    text-decoration: none;
    color: black;
    background-color: white;
    &:hover {
      background: $primary;
      color: white;
      img{
        filter:brightness(0) invert(1)
      }
    }
    &.active {
      // background: $primary;
      background: #C53214;
      color: white;
      img{
        filter:brightness(0) invert(1)
      }
    }


    img{
      width:50px;
      height:50px;
      object-fit: cover;
    }
  }
}
